body,p,h1,h2,h3,h4,ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: "\20";
    display: block;
    height: 0;
    clear: both;
}